/* Menu */
.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-bottom: 36px;
  }
  .nav {
    width: 100%;
    max-width: 450px;
  }
  .nav ul {
    display: flex;
    justify-content: space-between;
  }