:root {
    --first-color: #414141; /* for text */
    --second-color: #EBEBEB; /* for images */
    --third-color: #F5F5F5; /* for background */
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
}

#menu {
    display: flex;
}

body {
    background-color: var(--third-color);
}

h1, h2, p {
    color: var(--first-color);
}

img {
    color: var(--second-color);
}